#wrapper{
    background-color: #f8f9fb;
    box-sizing: border-box;
}

/*------------------------Container-1------------------*/

#container-1{
    padding: 0 10% 1.625rem 10%;
    background: url(../img/container-1-bg/container-1-bg.png) no-repeat;
    background-size: 100% 100%;
}

#container-1 nav{
    padding: 3.125rem 0;
    width: 10rem;
    height: 2rem;
}

#container-1 img{
    width: 100%;
    height: auto;
}

#container-1 .higher-revenue{
    font-family: 'open sans', serif;
    font-size: 3.25rem;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.93px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 1.25rem;
}

#container-1 .backed-by-our-proprietary{
    font-family: 'open sans', serif;
    font-size: 1.3125rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.52;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin:0 8.7% 1.875rem 8.7%;
}

#container-1 .sign-up{
    width: 14.375rem;
    height: 3.125rem;
    background: #fff;
    border-radius: 2.375rem;
    margin: 0 auto;
    position: relative;
}

#container-1 .sign-up p{
    font-family: 'open sans', serif;
    font-size: 1.125rem;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #e94555;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/*------------------------Container-2------------------*/

#container-2{
    padding: 0 10%;
    padding-top: 2.63rem;
}

#container-2 .left-arrow, #container-2 .right-arrow{
    display: none;
}

#container-2 #sub-container-1{
    display: flex;
}

#container-2 #sub-container-1 div{
    width: 20.8125rem;
    //height: 25.9375rem;
    flex-grow: 1;
}

#container-2 #sub-container-1 .img{
    width: 100%;
    height: auto;
    //object-fit: contain;
}

#container-2 #sub-container-1 .first-click, #container-2 #sub-container-1 .second-click{
    display: none;
}

#container-2 #sub-container-1 .img1, .img2{
    margin-right: 2.4375rem;
}

#container-2 #sub-container-2{
    padding: 0 10.4375rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-2 #sub-container-2 div{
    width: 22.9375rem;
    //height: 4.4375rem;
    position: relative;
    flex-grow: 1;
}

#container-2 #sub-container-2 .img1, .img2{
    width: 100%;
    height: auto;
    //object-fit: contain;
}

#container-2 #sub-container-2 .arrow1{
    margin-right: 1rem;
}

#sub-container-2 .first-click, #sub-container-2 .second-click{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    margin: auto;
    font-family: 'open sans', serif;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4c4c4c;
}

#container-2 #sub-container-3{
    margin-top: 2.63rem; 
}

#container-2 #sub-container-3 p{
    font-family: 'open sans', serif;
    font-size: 1.125rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: normal;
    color: #4c4c4c;
}

/*-------------------------------Container-3-------------------------*/

#container-3{
    padding: 0 10%;
    padding-top: 2.63rem;
    display: flex;
}

#container-3 .sub-container-1{
    width: 24.875rem;
    margin-right: 3.875rem;
}

#container-3 .sub-container-1 p{
    margin-bottom: 0.3125rem;
}

#container-3 .are-you-worried{
    font-family: 'open sans', serif;
    font-size: 1.125rem;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: normal;
    color: #4c4c4c;
}

#container-3 .there-no-reason, .medianet-2click{
    font-family: 'open sans', serif;
    font-size: 1.125rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: normal;
    color: #4c4c4c;
}

#container-3 .sign-up{
    width: 14.375rem;
    height: 3.125rem;
    background-color: #e94555;
    border-radius: 2.375rem;
    margin-top: 2.2rem;
    position: relative;
}

#container-3 .sign-up p{
    font-family: 'open sans', serif;
    font-size: 1.125rem;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#container-3 .sub-container-2{
    width: 38.75rem;
    //min-width: 400px;
}

#container-3 .sub-container-2 .table{
    width: 100%;
    height: auto;
    object-fit: contain;
}

#container-3 .sub-container-2 .sign-up{
    display: none;
}


/*-------------------------------container-4--------------------------*/

#container-4{
    padding: 0 10%;
    padding-top: 2.63rem;
}

#container-4 .here-a-snapshot{
    font-family: 'open sans', serif;
    font-size: 1.125rem;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: center;
    color: #4c4c4c;
}

#container-4 .sub-container-1{
    width: 38.75rem;
    margin: 0 auto;
    margin-top: 1.875rem;
}

#container-4 .sub-container-1 img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

#container-4 .sub-container-2{
    display: none;
}

/*-------------------------------container-5--------------------------*/

#container-5{
    padding: 0 10%;
    padding-top: 2.63rem;
}

#container-5 .keep-good-company{
    font-family: 'open sans', serif;
    font-size: 1.875rem;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #4c4c4c;
}

#container-5 .carouse{
    width: 46.25rem;
    padding-bottom: 2.5rem;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 1.875rem;
    box-shadow: 1px 3px 15px -2px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

#container-5 .carouse .david-bynon{
    font-family: 'open sans', serif;
    font-size: 1.3125rem;
    font-weight: 800;
    padding-top: 3.125rem;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4c4c4c;
}

#container-5 .carouse .mediacarewire{
    opacity: 0.7;
    margin-top: 0.3125rem;
    font-family: 'open sans', serif;
    font-size: 1.3125rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4c4c4c;
}

#container-5 .carouse .img{
    width: 4.375rem;
    margin: 0 auto;
    margin-top: 1.5rem;
}

#container-5 .carouse img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

#container-5 .carouse .from-very-first-day{
    padding: 0 5.875rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: 'open sans', serif;
    font-size: 1.125rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #4c4c4c;
}

/*---------------------------oval 1-------------------*/

#container-5 .carouse .round{
    justify-content: center;
    display: flex;
}

#container-5 .carouse .round .round-1, .round-2{
    margin-right: 0.625rem;
}

#container-5 .carouse .round .round-1{
    width: 10px;
    border-radius: 50%;
    height: 10px;
    background-color: #e94555;
}

#container-5 .carouse .round .round-2, .round-3{
    opacity: 0.2;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #e94555;
}

/*---------------------------oval 2-------------------*/

#container-5 .carouse .found{
    justify-content: center;
    display: flex;
}

#container-5 .carouse .found .found-1, .found-2{
    margin-right: 0.625rem;
}

#container-5 .carouse .found .found-2{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #e94555;
}

#container-5 .carouse .found .found-1, .found-3{
    opacity: 0.2;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #e94555;
}

/*---------------------------oval 3-------------------*/

#container-5 .carouse .around{
    justify-content: center;
    display: flex;
}

#container-5 .carouse .around .around-1, .around-2{
    margin-right: 0.625rem;
}

#container-5 .carouse .around .around-3{
    width: 10px;
    border-radius: 50%;
    height: 10px;
    background-color: #e94555;
}

#container-5 .carouse .around .around-1, .around-2{
    opacity: 0.2;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #e94555;
}

/*---------------------Finish oval-------------*/

#container-5 .sign-up{
    width: 14.375rem;
    height: 3.125rem;
    background-color: #e94555;
    margin: 0 auto;
    border-radius: 2.375rem;
    margin-top: 3.25rem;
    margin-bottom: 3.25rem;
    position: relative;
}

#container-5 .sign-up p{
    font-family: 'open sans', serif;
    font-size: 1.125rem;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/*-------------------------------footer--------------------------*/
#footer{
    background-color: #ccc;
}

#footer .img{
    padding-top: 1.375rem;
    width: 11.3125rem;
    margin: 0 auto;
}

#footer img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

#footer p{
    margin-top: 1.375rem;
    padding-bottom: 1.375rem;
    font-family: 'open sans', serif;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.09;
    letter-spacing: normal;
    color: #474747;
    text-align: center;
}



/*----------------------------Media Queries--------------------*/

/*----------------------------1200----------------------*/


@media screen and (max-width: 1200px){
    #sub-container-2 .first-click, #sub-container-2 .second-click{
        font-size: 0.9rem;
    }
    
    #container-3 .sign-up{
        margin-top: 1.2rem;
    }
}

/*--------------------------1024-------------------------*/


@media screen and (max-width: 1024px){
    
    #container-1 .higher-revenue{
        font-size: 2.925rem;
    }
    
    #container-1 .backed-by-our-proprietary{
        font-size: 1.18rem;
    }
    
    #container-1 .sign-up{
        width: 12.9rem;
        height: 2.81rem;
    }
    
    #sub-container-2 .first-click, #sub-container-2 .second-click{
        font-size: 0.7rem;
    }
    
    #container-3 .sub-container-1{
        width: 29.875rem;
        margin-right: 2rem;
    }
    
    #container-3 .sub-container-1 p{
        margin-bottom: 0.2rem;
    }
    
    #container-3 .are-you-worried{
        font-size: 1rem;
    }
    
    #container-3 .there-no-reason, .medianet-2click{
        font-size: 1rem;
    }
    
    #container-3 .sign-up{
        width: 11.5rem;
        height: 2.5rem;
        margin-top: 1rem;
    }
    
    #container-3 .sign-up p{
        font-size: 0.9rem;
    }
    
    #container-4 .sub-container-1{
        width: 31rem;
    }
    
    #container-5 .keep-good-company{
        font-size: 1.68rem;
    }
    
    #container-5 .carouse{
        width: 37rem;
    }
}


/*-------------------------768--------------------------*/




@media screen and (max-width: 768px){
    
    
    #container-1 .higher-revenue{
        font-size: 2.6rem;
    }
    
    #container-1 .backed-by-our-proprietary{
        font-size: 1rem;
    }
    
    #container-1 .sign-up{
        width: 11.5rem;
        height: 2.5rem;
        margin-top: 1rem;
    }
    
    #container-1 .sign-up p{
        font-size: 0.9rem;
    }
    
    #container-2{
        //position: relative;
    }
    
    #container-2 .mobile-view{
        display: flex;
        justify-content: center;
    }
    


    #container-2 .mobile-view .left-arrow{
        display: block;
        position: relative;
        top: 250px;
        height: 600px;
        width: 50px;
        border-left: 0.2rem solid red;
        border-bottom: 0.2rem solid red;
        border-top: 0.2rem solid red;
    }
    
    #container-2 .mobile-view .left-arrow:after {
        position: relative;
        content: "";
        display:inline-block;
        width: 1.5rem;
        height: 1.5em;
        border-right: 0.2em solid red;
        border-top: 0.2em solid red;
        transform: rotate(45deg);
        top: 584px;
        left: 55%;
        margin-right: 0.5em;
    }
    
    #container-2 .mobile-view .right-arrow{
        display: block;
        position: relative;
        top: 850px;
        height: 600px;
        width: 50px;
        border-right: 0.2rem solid red;
        border-bottom: 0.2rem solid red;
        border-top: 0.2rem solid red;
    }
    
    #container-2 .mobile-view .right-arrow:after {
        position: relative;
        content: "";
        display:inline-block;
        width: 1.5rem;
        height: 1.5em;
        border-left: 0.2em solid red;
        border-bottom: 0.2em solid red;
        transform: rotate(45deg);
        top: 584px;
        left: 5%;
        margin-right: 0.5em;
    }
    
    #container-2 #sub-container-1 div{
        width: 27rem;
    }
    
    #container-2 #sub-container-1{
        flex-flow: column;
        align-items: center;
    }
    
    #container-2 #sub-container-1 .first-click, #container-2 #sub-container-1 .second-click{
        display: block;
        text-align: center;
        margin: 1rem 0;
    }
    
    #container-2 #sub-container-3{
        text-align: center;
    }
    
    #container-2 #sub-container-2{
        display: none;
    }
    
    #container-2 #sub-container-1 .img1, .img2{
        margin: 0;
    }
    
    #container-2 #sub-container-3 p{
        font-size: 1.1rem;
    }
    
    #container-3{
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    
    #container-3 .sub-container-1{
        width: 100%;
    }
    
    #container-3 .are-you-worried{
        font-size: 1.125rem;
    }
    
    #container-3 .there-no-reason, .medianet-2click{
        font-size: 1.125rem;
    }
    
    #container-3 .sub-container-1 p{
        text-align: center;
    }
    
    #container-3 .sub-container-1 .sign-up{
        display: none;
    }
    
    #container-3 .sub-container-2{
        width: 35rem;
        margin-top: 1rem;
    }
    
    #container-3 .sub-container-2 .sign-up{
        width: 13rem;
        height: 3rem;
        display: block;
        margin: 0 auto;
        margin-top: 2rem;
    }
    
    #container-3 .sub-container-2 .sign-up p{
        font-size: 1.1rem;
    }
    
    #container-3 .sub-container-1{
        //width: 100%;
    }
    
    #container-4 .sub-container-1{
        display: none;
    }
    
    #container-4 .sub-container-2{
        display: block;
        margin-top: 1rem;
    }
    
    #container-4 .sub-container-2 img{
        display: block;
        margin: 0 auto;
    }
    
    #container-5 .carouse{
        width: 35rem;
    }
    
    #container-5 .carouse .david-bynon{
        font-size: 1.18rem;
    }
    
    #container-5 .carouse .mediacarewire{
        font-size: 1.18rem;
    }
    
    #container-5 .carouse .img{
        width: 3.9rem;
    }
    
    #container-5 .carouse .from-very-first-day{
        font-size: 1rem;
        padding: 0 4rem;
    }
}



/*-------------------------650--------------------------*/




@media screen and (max-width: 650px){
    #container-2 #sub-container-1 div{
        width: 22rem;
    }
    
    #container-3 .sub-container-2{
        width: 25rem;
    }
    
    #container-5 .carouse{
        width: 25rem;
    }
    
    #container-2 .mobile-view .left-arrow{
        height: 450px;
    }
    
    #container-2 .mobile-view .left-arrow:after{
        top: 434px;
    }
    
    #container-2 .mobile-view .right-arrow{
        height: 450px;
        top: 700px;
    }
    
    #container-2 .mobile-view .right-arrow:after{
        top: 435px;
    }
}



/*-------------------------450--------------------------*/


@media screen and (max-width: 450px){
    #container-1 nav{
        width: 8rem;
        height: 1.6rem;
    }
    
    #container-1 .higher-revenue{
        font-size: 2rem;
    }
    
    #container-1 .backed-by-our-proprietary{
        font-size: 0.8rem;
    }
    
    #container-1 .sign-up{
        width: 8rem;
        height: 2rem;
    }
    
    #container-1 .sign-up p{
        font-size: 0.7rem;
    }
    
    #container-2 #sub-container-1 div{
        width: 22rem;
    }
    
    #container-2 #sub-container-1 .first-click, #container-2 #sub-container-1 .second-click{
        font-size: 0.8rem;
    }
    
    #container-2 #sub-container-3 p{
        font-size: 1rem;
        text-align: justify;
    }
    
    container-3 .are-you-worried{
        font-size: 1rem;
    }
    
    #container-3 .there-no-reason, .medianet-2click{
        font-size: 1rem;
    }
    
    #container-3 .sub-container-2{
        width: 23rem;
    }
    
    #container-3 .sub-container-2 .sign-up{
        width: 8rem;
        height: 2rem;
    }
    
    #container-3 .sub-container-2 .sign-up p{
        font-size: 0.7rem;
    }
    
    #container-4 .here-a-snapshot{
        font-size: 1rem;
    }
    
    #container-5 .keep-good-company{
        font-size: 1.3rem;
    }
    
    #container-5 .carouse{
        width: 23rem;
        padding-bottom: 1.5rem;
    }
    
    #container-5 .carouse .david-bynon{
        font-size: 1rem;
        padding-top: 2rem;
    }
    
    #container-5 .carouse .mediacarewire{
        font-size: 1rem;
    }
    
    #container-5 .carouse .img{
        width: 3.5rem;
        margin-top: 1rem;
    }
    
    #container-5 .carouse .from-very-first-day{
        font-size: 0.85rem;
        padding: 0 2rem;
        text-align: justify;
        margin-top: 1rem;
    }
    
    #container-5 .carouse .round .round-1{
        width: 8px;
        height: 8px;
    }

    #container-5 .carouse .round .round-2, .round-3{
        width: 8px;
        height: 8px;
    }
    
    #container-5 .carouse .found .found-2{
        width: 8px;
        height: 8px;
    }

    #container-5 .carouse .found .found-1, .found-3{
        width: 8px;
        height: 8px;
    }
    
    #container-5 .carouse .around .around-3{
        width: 8px;
        height: 8px;
    }

    #container-5 .carouse .around .around-1, .around-2{
        width: 8px;
        height: 8px;
    }
    
    #container-5 .sign-up{
        width: 8rem;
        height: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    #container-5 .sign-up p{
        font-size: 0.7rem;
    }
    
    #footer p{
        font-size: 0.6rem;
        margin-top: 0.7rem;
        padding-bottom: 1rem;
    }

}
